<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448198456133-enffp78m0482lbt1lhcbpo53vb1jhajk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448198456133-enffp78m0482lbt1lhcbpo53vb1jhajk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448198456133-td1j2uqh4qoo8mnuclukq9443itek7fp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9VNBI_XZNm4rTyrfe-h5wITjjiGOwYBw</string>
	<key>GCM_SENDER_ID</key>
	<string>448198456133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handlyApp</string>
	<key>PROJECT_ID</key>
	<string>handly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>handly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448198456133:ios:bc6474d86ade6c3a0b442c</string>
</dict>
</plist>